@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400,700');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

/* resets and constants */
.res {
    /* colors */
    --color-primary: #2d3236;
    --color-secondary: #e0e0de;
    --color-accent: #1561f1;
    --color-background: #fefefe;

    /* font */
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 3mm;
}
.res div, .res section {
    flex: 1 1 auto;
}
.res a {
    color: inherit;
    text-decoration: none;
    font-style: initial;
}

/* sizing styles to layout resume on a piece of "virtual paper" */
.res {
    width: 215.9mm;
    height: 279.4mm;
    margin: 10mm auto;
    box-shadow: 0 0 20px -4px black;
}
@media only print {
    .res {
        width: 100vw;
        height: 100vh;
        margin: 0;
        box-shadow: none;
    }
}

/* custom resume flags */
.res-flag-justify {
    display: block;
    text-align: justify;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }

/* resume styling */
.res {
    background: var(--color-background);
    display: grid;
    grid-template-columns: 60mm 1fr;
    grid-template-rows: 40mm 1fr; }

.res .res-header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    flex-flow: row nowrap;

    color: var(--color-secondary);
    background: var(--color-primary); }

.res .res-header .res-logo {
    flex: 0 0 30mm;
    height: 30mm;
    margin: 5mm;
    border-radius: 50%;
    line-height: 30mm;
    text-align: center;
    font-size: 13mm;
    font-weight: 700;
    background: var(--color-accent); }

.res .res-header .res-name {
    flex: 1 0 auto;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    font-size: 9mm;
    font-weight: bold; }

.res .res-header .res-name-end {
    color: var(--color-accent); }

.res .res-header .res-name .res-name-main {
    vertical-align: bottom;
    flex: 0;
    font-size: 9mm; }

.res .res-header .res-name .res-name-detail {
    vertical-align: top;
    flex: 0;
    font-size: 4mm; }

.res .res-header .res-contact {
    flex: 0 0 50mm;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center; }

.res .res-header .res-contact > a {
    flex: 0 0 auto;
    text-overflow: ellipsis;
    padding: 1mm 0;
    font-size: 4mm; }

.res .res-header .res-contact > a > * {
    margin-right: 2mm; }

.res .res-pane-details {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    padding: 5mm 5mm 0 5mm;
    color: var(--color-primary);
    background: var(--color-secondary); }

.res .res-pane-details .res-detail-title {
    display: block;
    color: var(--color-accent);
    font-size: 3.5mm;
    text-transform: uppercase; }

.res .res-pane-details .res-detail-title::before {
    content: '// '; }

.res .res-pane-details .res-profile {
    padding-bottom: 3mm; }

.res .res-pane-details .res-skills {
    border-top: 1px solid var(--color-primary);
    padding: 3mm 0 0.5mm 0; }

.res-skill-list {
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 2.5mm; }

.res-skill-list .res-skill-list-title {
    flex: 0 0 auto;
    color: var(--color-accent);
    font-size: 3.5mm;
    text-transform: uppercase; }

.res-skill-list .res-skill-list-title::before {
    content: '// '; }

.res-skill-list .res-skill-list-items {
    flex: 1 1 auto;
    text-align: justify;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }

.res .res-pane-details .res-interests, .res .res-pane-details .res-awards {
    border-top: 1px solid var(--color-primary);
    padding: 3mm 0 0.5mm 0; }

.res-interest-detail {
    padding-bottom: 2.5mm; }

.res-interest-detail .res-interest-detail-title {
    font-size: 3.5mm; }

.res-interest-detail .res-interest-detail-title::after {
    content: ' //'; }

.res-interest-detail .res-interest-detail-description {
    display: block;
    text-align: justify;
    margin-left: 2mm;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }

.res .res-pane-events {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    padding: 3mm 5mm 0;
    color: var(--color-primary);
    background: #fefefe; }

.res .res-pane-events .res-content {
    display: grid;
    grid-template-columns: 11mm 1fr;
    padding-bottom: 3mm; }

.res .res-pane-events .res-content:last-child {
    padding-bottom: 0;
}

.res .res-pane-events .res-content .res-content-icon {
    grid-column-start: 1;
    grid-column-end: 2;

    width: 11mm;
    height: 11mm;
    box-sizing: border-box;
    text-align: center;
    line-height: 10mm;

    font-size: 5mm;
    border: 1px solid var(--color-primary);
    border-radius: 50%; }

.res .res-pane-events .res-content .res-content-header {
    grid-column-start: 2;
    grid-column-end: 3;

    margin-left: 2mm;
    line-height: 11mm;
    font-size: 6mm;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase; }

.res .res-pane-events .res-content .res-content-item-dot {
    grid-column-start: 1;
    grid-column-end: 2;

    z-index: 1;
    margin-left: 5.25mm;
    border-left: 0.5mm solid var(--color-primary); }

.res .res-pane-events .res-content .res-content-item-dot > span {
    display: block;
    z-index: 2;
    background: var(--color-background);
    width: 4mm;
    height: 4mm;
    margin-top: 1.5mm;
    margin-left: -2.5mm;
    content: '';
    border: 1px solid var(--color-primary);
    border-radius: 50%; }

.res .res-pane-events .res-content .res-content-item {
    grid-column-start: 2;
    grid-column-end: 3;

    margin: 1.5mm 0 1mm 2mm;
    text-align: justify;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }

.res .res-pane-events .res-content .res-content-item .res-content-item-header {
    display: flex;
    align-items: center;
    flex-flow: row nowrap; }

.res .res-pane-events .res-content .res-content-item .res-content-item-header-position {
    font-size: 3.5mm;
    font-weight: 700;
    color: var(--color-accent);
    padding-right: 1.5mm;
    text-transform: uppercase; }

.res .res-pane-events .res-content .res-content-item .res-content-item-header-position::after {
    content: ' //'; }

.res .res-pane-events .res-content .res-content-item .res-content-item-header-location {
    font-size: 3.5mm;
    text-transform: uppercase; }

.res .res-pane-events .res-content .res-content-item .res-content-item-header-hrule {
    content: '';
    flex: 1 1 auto;
    margin: 0 4mm;
    border-bottom: 1px solid var(--color-primary); }

.res .res-pane-events .res-content .res-content-item .res-content-item-header-date {
    margin-left: auto; }

.res .res-pane-events .res-content .res-content-item .res-content-item-header-date:before {
    content: '[ '; }

.res .res-pane-events .res-content .res-content-item .res-content-item-header-date:after {
    content: ' ]'; }

.res .res-pane-events .res-content .res-content-item ul {
    padding: 0 0 0 4.25mm;
    margin: 0; }

