@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400,700');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

/* resets and constants */
.ltr {
    /* colors */
    --color-primary: #2d3236;
    --color-secondary: #e0e0de;
    --color-accent: #1561f1;
    --color-background: #fefefe;

    /* font */
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 4mm;
}
.ltr a {
    color: inherit;
    text-decoration: none;
    font-style: initial;
}

/* sizing styles to layout cover letter on a piece of "virtual paper" */
.ltr {
    width: 215.9mm;
    height: 279.4mm;
    margin: 10mm auto;
    box-shadow: 0 0 20px -4px black;
}
@media only print {
    .ltr {
        width: 100vw;
        height: 100vh;
        margin: 0;
        box-shadow: none;
    }
}

/* cover letter styling */
.ltr {
    background: var(--color-background);
    display: grid;
    grid-template-rows: 40mm 1fr; }

.ltr .ltr-header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    flex-flow: row nowrap;

    color: var(--color-secondary);
    background: var(--color-primary); }

.ltr .ltr-header .ltr-name {
    flex: 1 0 auto;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-left: 12mm;
    text-align: left;
    font-size: 9mm;
    font-weight: bold; }

.ltr .ltr-header .ltr-name-end {
    color: var(--color-accent); }

.ltr .ltr-header .ltr-name .ltr-name-main {
    vertical-align: bottom;
    flex: 0;
    font-size: 9mm; }

.ltr .ltr-header .ltr-name .ltr-name-detail {
    vertical-align: top;
    flex: 0;
    font-size: 4mm; }

.ltr .ltr-header .ltr-contact {
    flex: 0 0 auto;
    margin-right: 12mm;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center; }

.ltr .ltr-header .ltr-contact > a {
    flex: 0 0 auto;
    text-overflow: ellipsis;
    padding: 1mm 0;
    font-size: 4mm; }

.ltr .ltr-header .ltr-contact > a > * {
    margin-right: 2mm; }

.ltr .ltr-body {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    padding: 6mm 12mm 0 12mm;

    color: var(--color-primary);
    background: var(--color-secondary); }

.ltr .ltr-body p {
    white-space: pre-line; }
